# ===== ROS / Catkin =====
build/
devel/
install/
.catkin_tools/
log/

# ===== Intera SDK =====
intera_interface
intera_sdk
intera_common

# ===== ROS bags =====
*.bag
*.bag.active
*.bag.orig

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# ===== Editors / OS =====
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
